@use "../../styles/variables.scss" as *;

.twohoplinks {
  flex-direction: column;

  & h3 {
    font-size: 1rem;
    margin: 0;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;

    & > li {
      & > a {
        background-color: transparent;
      }

      & > h3 {
        margin-top: 0.5rem;
        
      }
    }
  }

  & .linkicon {
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}
